/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

section {
  padding: 50px 0;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-100 {
  width: 100%;
}

.card {
  border: 1px solid black;
}

.card-header {
  border-bottom: 1px solid black;
  padding: 0.5rem;
}
.card-body {
  padding: 0.5rem;
}

/* HEADER */
.header-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-item li {
  display: inline-block;
  margin-inline: 12px;
}

.img-logo {
  align-self: center;
}

.small-text {
  font-size: 13px;
}

.blu-box-small-gap {
  bottom: 80px;
  left: 0px;
  width: 45px;
  height: 20px;
  background-color: #1600d9;
  color: white;
  text-align: center;
  line-height: 23px;
  font-size: 12px;
  cursor: pointer;
}

/* SECTION HERO */

#hero .container {
  position: relative;
  top: 50px;
}

#hero .hero-content {
  display: flex;
}

/* SECTION BUSINESS PLAN */

#business-plan {
  padding-top: 100px;
}

#business-plan .plan-type {
  display: flex;
}

#business-plan .business-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

#business-plan .business-cards > * {
  flex-grow: 1;
}

/* DEBUG */

.debug,
.debug * {
  background-color: lightgray;
  border: 2px dashed black;
  padding: 10px;
  min-height: 50px;
}
